.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 100px;
    margin-left: 20px;
    padding: 15px 0 15px 0;
}

.navbar .menu {
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.navbar .menu a {
    text-decoration: none;
    color : #fff;
    margin: 0 10px 0 10px;
}

.navbar .menu a:hover {
    color: #90ee90;
}