/* Header */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 100px;
    margin-left: 40px;
    padding: 15px 0 15px 0;
}

.navbar .menu {
    display: flex;
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color : #fff;
    margin: 0 10px 0 10px;
    transition: color 0.5s;
}

.navbar .menu a:hover {
    color: #90ee90;
}

.btn-navbar {
    margin-right: 40px;
    background-color: #000;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.btn-navbar span {
    color: #fff;
    cursor: pointer;
}

.btn-navbar:active {
    background-color: #333333;
}

/* Main */

.title {
    width: 100%;
    text-align: center;
}

/* ItemListContainer */
.Item-list-container {
    padding: 20px
}

/* ItemList */
.item-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}
/* Item 415px */
.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 247px;
    height: 420px;
    border: 1px solid #000;
    border-radius: 10px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.item-info img {
    width: 80%;
}

.item-info .item-title {
    font-size: 20px;
    font-weight: bold;
    color: #334433;
}

.item-info div {
    display: flex;
    justify-content: space-between;
    width: 80%
}


/* ItemCount */
.item-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 247px;
    margin-bottom: 15px;
    padding: 5px;
}

.contador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
}

.btn-count,
.btn-add {
    border: none;
    width: 90%;
    background-color: #60ee60;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #90ee90;
}

.btn-count {
    width: 35px;
    height: 35px
}